<div class ="border-bottom mb-2">
  <%= form_with model: @article do |f| %>
    <%= f.label :title, class: 'form-label mt-2' %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :content, class: 'form-label mt-4' %>
    <%= f.text_area :content, rows:15, cols:100 %>
    <%= f.submit class:'btn btn-primary d-block mt-2 mb-3' %>
  <% end %>
</div>
